<div class="container">
  <h1>URL Shortener</h1>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="url_image">
  
  <form action="/" method="POST" style="display:inline;">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Input URL here" name="original_url" required>
      <button class="btn btn-success" type="submit">Shorten</button>
    </div>
  </form>
  
</div>