<div class="container">
  <h1>URL Shortener</h1>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    alt="url_image">

  <h2>Success! Please use this link:</h2>
  <p>localhost:3000/{{ shortenedURL }}</p>

</div>